$main-font: "Lato";
$main-font-title: "Cormorant Garamond";
$color-nav: #afa17e;
$main-font-color: #ffffff;
$background-color: #000000;

body {
  margin: 0;
  font-family: $main-font;
}

.main-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-color: $background-color;

  .main-heading {
    color: $main-font-color;
    text-align: center;
    position: relative;

    p {
      text-transform: uppercase;
    }

    h1 {
      font-size: 55px;
      font-family: $main-font-title;
    }
  }
}

.blured {
  filter: blur(10px);
}

.main-page-container:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("./Resources/bg-image.jpg");
  background-position: 50% 0;
  background-size: cover;
  background-color: $background-color;
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.5);

  .main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-nav;
    padding: 0 3rem;
    width: 100%;

    .main-login-button {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      p {
        margin: 0 10px 0;
        color: $main-font-color;
        text-transform: uppercase;
        font-size: 10px;
        text-align: right;
        max-width: 200px;
      }
    }

    .nav-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      a {
        float: left;
        display: block;
        white-space: nowrap;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
      }

      .icon {
        display: none;
      }
    }

    .main-login-button {
      .login-button {
        background-color: $color-nav;
        border-radius: 15px;
        color: $background-color;
        padding: 6px 30px;
        white-space: nowrap;
        text-transform: uppercase;
        cursor:pointer;
      }
    }
  }
}

.modal-wrapper {
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  .modal-container {
    background-color: $main-font-color;
    display: flex;
    flex-direction: column;
    border: solid grey;
    border-radius: 10px;

    .close-icon {
      display: flex;
      flex-direction: row-reverse;
      padding: 0.6rem 1rem 0 0;
      cursor: pointer;
    }

    .modal-container-padding {
      padding: 0 2rem;

      .modal-text {
        width: 100%;
        margin-bottom: 12px;
      }

      .privacy-policy-text {
        font-size: 10px;
        text-align: center;

        span {
          text-decoration: underline;
        }
      }

      form {
        input {
          padding: 6px 10px;
          border-radius: 6px;
          border: 1px solid #ccc;
          box-sizing: border-box;
          margin-bottom: 0.7rem;
          width: 100%;
          height: 38px;
        }

        .submit-button {
          background-color: $color-nav;
          cursor: pointer;
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  header {
    .main-navigation {
      padding: 0 1rem;
      .nav-items {
        flex-direction: column-reverse;
        align-items: flex-start;
        a:not(:last-child) {
          display: none;
        }

        a {
          padding: 15px 0 15px 0;
        }

        #logo-img {
          display: none;
        }

        .icon {
          display: block;
          font-size: 30px;
        }

        a:last-child {
          font-size: 30px;
          cursor: pointer;
        }
      }
      .nav-items.expand {
        position: relative;

        a {
          float: none;
          display: block;
          text-align: left;
        }
      }
      .main-login-button {
        align-self: flex-start;
        padding-top: 20px;
      }
    }
  }
  .main-heading {
    padding: 0 10%;
  }
}
